---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Cards from "@/components/Cards.astro";
import Button from "@/components/Button.astro";
import GridCards from "@/components/GridCards.astro";
---

<!-- HTML -->
<BaseLayout title="Memory | Levels" description="Página de inico de la web Memory. Muestra la selección de niveles y la cantidad de cartas disponibles para jugar">


    <section class="section__main">

        
        <Cards />


        <Button content="Jugar" />

        <GridCards />
    </section>
</BaseLayout>	



<!-- CSS -->
<style>
    .section__main {
        max-width: 100%;
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>


<script>
    
        const cards = document.querySelectorAll('.levels__items');
        const gridCards = document.querySelector('.main__cards-selection');
        const buttonGame = document.querySelector('.main__button');

        // CARDS
        cards.forEach(level => {

            level.addEventListener('click', () => {

                let count = parseInt(level.getAttribute('data-count'), 10);

                gridCards.innerHTML = ''; 

                for (let i = 0; i < count; i++) { 
                    const card = document.createElement('div'); 
                    card.classList.add('cards__card'); 
                    card.style.width = '20rem'; 
                    card.style.height = '25rem'; 
                    card.style.padding = '1rem'; 
                    card.style.borderRadius = '5px'; 
                    card.style.boxShadow = '0px 0px 5px #212121'; 
                    card.style.background = '#fff'; 
                    gridCards.appendChild(card);
                }
            })
        }); 


        // BUTTON
        buttonGame.addEventListener('click', () => {

            window.location.href = 'Gaiming.html';
        });


</script>