---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Cards from "@/components/Cards.astro";
import Button from "@/components/Button.astro";
import GridCards from "@/components/GridCards.astro";
---

<!-- HTML -->
<BaseLayout title="Memory | Levels" description="Página de inico de la web Memory. Muestra la selección de niveles y la cantidad de cartas disponibles para jugar">
        <section class="section__main">

            <Cards />

            <Button content="Jugar" className="play__button" id="play" />

            <GridCards />

        </section>  
</BaseLayout>	




<!-- CSS -->
<style>

    .section__main {
        max-width: 100%;
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card__hover {
        transform: scale(1.05);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    }

</style>




<!-- JAVASCRIPT -->
<script>

        const cards = document.querySelectorAll('.levels__items');
        const gridCards = document.querySelector('.main__cards-selection');
        const buttonGame = document.querySelector('#play');
        const backgroundSound = new Audio('./sounds/BackgroundSound.mp3');
        

        // CARDS
        cards.forEach(level => {

            level.addEventListener('click', () => {

                // Obtener valor de nivel
                let count = parseInt(level.getAttribute('data-count'), 10);

                // Almacenar valor
                localStorage.setItem('cantidadCartas', count.toString());

                // Limpiar contenedor
                gridCards.innerHTML = '';

                for (let i = 0; i < count; i++) { 
                    const card = document.createElement('div'); 
                    card.classList.add('cards__card'); 
                    card.style.width = '20rem'; 
                    card.style.height = '25rem'; 
                    card.style.padding = '1rem';
                    card.style.display = 'flex';
                    card.style.justifyContent = 'center';
                    card.style.alignItems = 'center';
                    card.style.border = '1px solid #003366';
                    card.style.borderRadius = '10px'; 
                    card.style.boxShadow = '0px 4px 8px rgba(0, 0, 0, 0.1)'; 
                    card.style.background = 'linear-gradient(to bottom, #f0f8fd, #ffffff)'; 
                    card.style.color = '#003366';
                    card.style.fontFamily = 'Exo 2';
                    card.style.fontSize = '2.8rem';
                    card.style.fontWeight = '600';
                    card.style.cursor = 'default';
                    card.style.transition = 'all 300ms easy in out'


                    
                    // Añadir texto
                    card.textContent = `Carta ${i + 1}`;

                    // Agregar elemento al grid
                    gridCards.appendChild(card);

                    // Agregar eventos a las cards
                    card.addEventListener('mouseover', () => {
                        card.style.transform = 'scale(1.05)';
                        card.style.boxShadow = '0px 0px 10px rgba(0, 0, 0, 0.5)';
                    });

                    card.addEventListener('mouseout', () => {
                        card.style.transform = 'scale(1)';
                        card.style.boxShadow = '0px 0px 8px rgba(0, 0, 0, 0.1)';
                    });
                }                
            })     
        }); 


        // BUTTONS
        buttonGame.addEventListener('click', () => {
            window.location.href = 'Gaiming.html';
        });

        const button = document.querySelector('#play');
        button.setAttribute('data-content', 'Iniciar');

        

        // Sonido de fondo
        const listenSound = () => {
            backgroundSound.play();
            backgroundSound.volume = 0.2;
            backgroundSound.addEventListener('ended', () => {
                backgroundSound.currentTime = 0;
                backgroundSound.play();
            })
        }

        listenSound();
        
</script>