---
const { content, id, className } = Astro.props;
---

<!-- HTML -->
<div class="main__button-container">
    
    <button class={className} {id} data-content={content}>
        {content}
    </button>
        
</div>



<!-- CSS -->
<style>

    button {
        font-family: 'Exo 2';
        font-size: 2.6rem;
        font-weight: 700;
        padding: 1.5rem 5rem;
        margin-top: 8rem;
        border: none;
        outline: none;
        border-radius: 15px;
        letter-spacing: 0.1rem;
        background: var(--color-blue);
        color: var(--color-white);
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    button::before,
    button::after {
        content: attr(data-content);
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -1px;
        top:0;
        border: none;
        border-radius: 15px;
        outline: none;
        background: var(--color-red);
        transition: transform 0.3s ease;
    }

    button::after {
        transform: translateX(-100%);
        transform-origin: left;
    }

    button::before {
        transform: translateX(-100%);
        transform-origin: left;
    }

    button:hover::after {
        transform: translateX(1%);
    }

    button:hover::before {
        transform: translateX(0%);
    }
    
</style>

