---
const { content } = Astro.props;
---
<div class="main__button-container">
    <button class="main__button">
        {content}
    </button>
</div>

<style>
.main__button {
    font-family: 'Exo 2';
}
</style>
