---

---

<!-- HTML -->
<div class="container__levels">

    <button class="levels__button">
        <article class="levels__items" id="card1" data-count="10">
            <p class="levels__text">10 cartas</p>
        </article>
    </button>

    <button class="levels__button">
        <article class="levels__items" id="card2" data-count="14">
            <p class="levels__text">14 cartas</p>
        </article>
    </button>

    <button class="levels__button">
        <article class="levels__items" id="card3" data-count="20">
            <p class="levels__text">20 cartas</p>
        </article>
    </button>

</div>



<!-- CSS -->
<style>

    .levels__button {
        width: 25rem;
        height: 25rem;
        border: none;
        outline: none;
        border-radius: 10px;
    }

    .container__levels {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5rem;
        margin: 15rem 0 8rem 0;
    }

    .levels__items {
        width: 25rem;
        height: 25rem;
        background-image: url('../assets/imgs/Cards-background.webp');
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px #777;
        border: none;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all 300ms ease;
        position: relative;
        filter: grayscale(30%) brightness(150%);
    }


    .levels__items:hover {
        transform: scale(1.1);
    }

    .levels__items::before,
    .levels__items::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        background: transparent;
        opacity: 0;
        border-radius: 6px;
        transition: all 300ms ease;
    }

    .levels__items::before {
        top: -1px;
        right: -1px;
        border-top: 4px solid var(--color-red);
        border-right: 4px solid var(--color-red);
    }

    .levels__items::after {
        bottom: -1px;
        left: -1px;
        border-bottom: 4px solid var(--color-red);
        border-left: 4px solid var(--color-red);
    }

    .levels__items:hover::before{
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    .levels__items:hover::after {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    .levels__items:focus::before{
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    .levels__items::after {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    .levels__text {
        font-family: 'Roboto';
        font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
        color: var(--color-white);
        transition: all 200ms ease;
    }

</style>



<!-- JavaScript -->
<script>

    const levelsItems = document.querySelectorAll('.levels__items');
    const selectionSound = new Audio('./sounds/Selection.mp3');


    levelsItems.forEach(levels => {
        levels.addEventListener('click', () => {
            selectionSound.play();
        });
    });

</script>