---

---

<div class="congratulations__message" id="congratulationsMessage">
    ¡Felicitaciones! Has encontrado todas las parejas 
</div>


<style>
    .congratulations__message {
        width: 70%;
        display: none;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
        padding: 2rem;
        background: rgba(0, 0, 0, 0.8);
        color: var(--color-white);
        font-family: 'Exo 2';
        font-size: 8rem;
        border-radius: 10px;
        text-align: center;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .congratulations__message-show {
        display: block;
        opacity: 1;
        backdrop-filter: blur(10px);
        font-size: 8rem;
    }
</style>
