---

---

<div class="footer__container footer__container-copy">
    <p class="copy__text">&copy; Nicolás Alejandro Tapié - 2024</p>
</div>

<style>
    .footer__container-copy {
        width: 90%;
        margin: 3.5rem 0 1rem 0;
        padding: 2rem 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 2px solid #888;
    }

    .copy__text {
        font-family: 'Exo 2';
        font-weight: 600;
    }
</style>