---
import Github from "@/assets/icons/Github.astro";
import Instagram from "@/assets/icons/Instagram.astro";
import Linkedin from "@/assets/icons/Linkedin.astro";
import Facebook from "@/assets/icons/Facebook.astro";
import Email from "@/assets/icons/Email.astro";
---

<footer class="footer">
    <div class="footer__container footer__container-brands">
        <div class="brands__container-contents brands__container-contents-img">
            <img class="footer__img" src="src/assets/Logo-Nico.webp" alt="Logo Nicolás" title="">
        </div>
        <div class="brands__container-contents brands__container-contents-links">
            <h3 class="links__subtitle"></h3>
            <ul class="links__ul">
                <li class="links__li">
                    <a href="https://github.com/nicotapie30" class="links__link" title="Github" target="_blank">
                        <Github />
                    </a>
                </li>
                <li class="links__li">
                    <a href="https://www.instagram.com/nicotapie1/" class="links__link" title="Instagram" target="_blank">
                        <Instagram />
                    </a>
                </li>
                <li class="links__li">
                    <a href="https://www.linkedin.com/in/nicolasatapiedev30/" class="links__link" title="Linkedin" target="_blank">
                        <Linkedin />
                    </a>
                </li>
                <li class="links__li">
                    <a href="https://www.facebook.com/nico.tapie" class="links__link" title="Facebook" target="_blank">
                        <Facebook />
                    </a>
                </li>
                <li class="links__li">
                    <a href="mailto:nicoatapie@gmail.com" class="links__link" title="Email" target="_blank">
                        <Email />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__container footer__container-copy">
        <p class="copy__text">&copy; Nicolás Alejandro Tapié - 2024</p>
    </div>
</footer>


<style>
.footer__img {
    width: 4rem;
    height: 4rem;
}
</style>