---

---

<header class="header">
    <div class="header__container-img">
        <img class="header__img" src="src/assets/Logo-Memory.webp" alt="Logo Memory">
    </div>
</header>

<style>
.header__img {
    width: 4rem;
    height: 4rem;
}
</style>