---

---

<div class="brands__container-contents brands__container-contents-img">
    <img class="footer__img" src="./Logo-Nico.webp" alt="Logo Nicolás" title="">
</div>

<style>
    .brands__container-contents-img {
        width: 100%;
        display: flex;
        justify-content: start;
        padding: 4rem 0 0 5rem;
        margin: 0 0 1rem 0;
    }

    .footer__img {
        width: 10rem;
        height: 10rem;
    }
</style>